*.pyd
*.dll
*.so
*.pyc
*.dylib
*.a
.*
~*
pp_*.py
test_*.py
build*
dist
datasets
img
__pycache__
*.pyc
tmp
.*
dist/
*_dsoinfo.py
temp
.*
*.code-workspace
*.egg-info
Debug
*.ilk
*.pdb
*.gz
*.idx?-ubyte
*.exp
*.lib
